.aa {
  background-color: #00D1B2;
}
.bb{
  color:#FFF;
  border-radius:4px;
  padding: 10px;
  text-align: center;
  position:relative;
  margin:1px;
}
.cc{
  color:#FFF;
  border-radius:4px;
  padding: 10px;
  text-align: center;
  position:relative;

}